.box {
  background: #e9fdfa;
  padding: 4rem;
  border-radius: 1rem;
  text-align: center;
}

.iconGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 4rem);
  justify-content: left;
  grid-gap: 3rem;
}

.filterBox {
  display: flex;
  margin: 1rem;
  padding: 1rem;
}

.filterBoxInput {
  width: 100%;
  font-size: 1.5rem;
}
