.box {
  background: #f5fdfc;
  padding: 4rem;
  border-radius: 1rem;
  text-align: center;
}

.iconGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 12rem);
  justify-content: center;
  grid-gap: 1rem;
}
