.contentContainer {
  display: block;
}

.contentMain {
  width: auto;
}

.contentIntro {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.example {
  border: 1rem solid #eee;
  padding: 2rem;
  margin: 3rem 0;
  font-family: monospace;
  font-size: 0.9rem;
}

.exampleTitle {
  margin-top: 0;
}

@media (min-width: 48rem) {
  .contentContainer {
    max-width: 700px;
  }
}
