.contributorItem {
  padding-left: 56px;
  position: relative;
  margin: 12px 0;
  padding-top: 7px;
}

.contributorAvatarImage {
  display: block;
  position: absolute;
  width: 34px;
  height: 34px;
  left: 0;
  top: 4px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.1);
  &:hover {
    border: 1px solid rgba(0,0,0,0.5);
  }
}
