.topBar {
  display: grid;
  grid-template-columns: minmax(max-content, 1fr) max-content max-content;
  grid-template-rows: auto auto;
  gap: 1em 1em;
  grid-template-areas:
    'title-area desktop-links-area download-area'
    'mobile-links-area mobile-links-area mobile-links-area';
  margin-bottom: 1rem;
  align-items: center;
}

.topbarDownload {
  grid-area: download-area;
}

.topbarTitle {
  a {
    font-weight: bold;
    display: inline-block;
    background: url(/health-icons-logo.svg) 0 50% no-repeat;
    background-size: 24px;
    padding-left: 32px;
    min-height: 1.3rem;
    &:link,
    &:visited {
      text-decoration: none;
    }

    sup {
      font-size: 0.6rem;
      font-weight: normal;
      margin-left: 0.2rem;
      letter-spacing: 0.1rem;
    }
  }
}

.topbarLinks {
  grid-area: mobile-links-area;
  margin: 0 -1rem -1rem -1rem;
  padding: 1rem;
  list-style-type: none;
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  gap: 1rem;
  background: none;
  font-size: 0.8rem;
  border-top: 1px solid var(--link-decoration-color);

  img {
    vertical-align: middle;
    margin-top: -2px;
    opacity: 0.6;
    width: 20px;
  }

  a:hover img {
    opacity: 1;
  }
}

.buttonLink {
  background: var(--link-color) url(/ui/folder-download-line-white.svg) 0.75rem
    50% no-repeat;
  display: inline-block;
  background-size: 18px;
  color: #fff;
  font-weight: bold;
  padding: 0.6rem 1rem 0.6rem 2.25rem;
  border-radius: 3px;
  font-size: 0.8rem;
  transition: background-color ease-in-out 0.15s;

  &:link {
    color: #fff;
  }

  &:hover {
    text-decoration: none;
    background-color: var(--link-color-dark);
  }
}

@media (min-width: 54rem) {
  .topBar {
    gap: 0 2em;
  }

  .buttonLink {
    padding: 0.5rem 30px 0.5rem 50px;
    font-size: 1rem;
    background-position: 1.25rem 50%;
  }

  .topbarLinks {
    grid-area: desktop-links-area;
    background: none;
    margin: 0;
    padding: 0;
    border-top: none;
    font-size: 1rem;
    grid-gap: 1rem;
    justify-content: space-around;
  }

  .topbarTitle {
    font-size: 1.3rem;

    sup {
      font-size: 0.8rem;
    }
  }
}
