:root {
  --text-color: #222;
  --link-color: #6666FF;
  --secondary-text-color: #666;
  --body-font-family: merriweather, sans-serif;
  --ui-font-family: 'Source Sans Pro', serif;
  --mono-font-family: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo',
    monospace;
  --column-width: 44rem;
  --column-gutter-width: 2rem;
  --vertical-spacing: 1.5rem;
  --primary-grid: 1fr minmax(2rem, var(--column-gutter-width))
    minmax(auto, var(--column-width)) minmax(2rem, var(--column-gutter-width))
    1fr;
}

@media (min-width: 44rem) {
  :root {
    --column-gutter-width: 8rem;
  }
}

html,
body {
  padding: 1rem;
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  min-width: 320px;
  font-family: var(--body-font-family);
  background: #fff;
  color: var(--text-color);
  line-height: 1.6;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

#__next {
  min-height: 100%;
}

a,
a:link,
a:visited {
  text-decoration: underline;
  color: var(--link-color);
  text-decoration: none;
}

a:visited {
  color: var(--link-color);
}

a:hover,
a:active {
  color: #000;
  text-decoration-color: var(--text-color);
}

a:focus-visible {
  outline: 4px solid var(--text-color);
  background: var(--text-color);
  color: #fff;
}

a.button {
  display: inline-block;
  background: var(--link-color);
  text-decoration: none;
  padding: 8px 32px;
  color: #fff;
}
